<mat-toolbar class="shadow">
    <div class="col-lg-8 col-xl-8">
        <div class="float-start">
            <button mat-button>Above</button>
            <button mat-button>Below</button>
            <button mat-button>Before</button>
            <button mat-button>After</button>
        </div>
    </div>
    <div class="col-lg-4 col-xl-4">
        <div class="float-sm-end">
            <button class="button" mat-raised-button color="warn">Login</button>
        </div>
    </div>
</mat-toolbar>